.Greeter-main-component {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;

    text-align: center;
    white-space: pre-line;

    font-size: 1.1rem;
    color: #9aa0a6;
    background: #0f1115;

    user-select: none;
    display: flex;
    flex-direction: column;
}

.Greeter-Header {
    font-size: 25px;
    margin: 20px;
    color: teal;
}
