* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Tahoma, Geneva, Verdana;
}


.output-error {
  display: flex;
  min-height: 20vh;
  background-color: gray;
  margin: auto;
}

.output-error>* {
  flex: 1;
  border: 1px solid #1f1f1f;
  padding: 8px;
}
